---
- name: get version of installed node_exporter
  shell: node_exporter --version 2>&1 | head -n 1 | cut -d ' ' -f 3
  ignore_errors: yes
  register: node_exporter_command_result

- name: set node_exporter_installed_version
  set_fact:
    node_exporter_installed_version: "{{ node_exporter_command_result.stdout }}"

- debug:
    msg: "{{ node_exporter_installed_version }}"

- name: fetch and unarchive node-exporter
  unarchive:
    src: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-armv7.tar.gz"
    dest: /tmp
    remote_src: yes
  when: node_exporter_installed_version != node_exporter_version 

- name: copy node-exporter binary to /usr/bin
  copy: 
    src: "/tmp/node_exporter-{{ node_exporter_version }}.linux-armv7/node_exporter"
    dest: /usr/bin/node_exporter
    owner: root
    group: root
    mode: 0755
    remote_src: yes
  when: node_exporter_installed_version != node_exporter_version

- name: remove node-exporter from tmp
  file:
    state: absent
    dest: "/tmp/node_exporter-{{ node_exporter_version }}.linux-armv7"
  when: node_exporter_installed_version != node_exporter_version

- name: install node_exporter systemd unit
  template:
    src: templates/node_exporter.service.j2
    dest: /etc/systemd/system/node_exporter.service

- name: starn and enable node_exporter service
  systemd:
    name: node_exporter
    state: started
    daemon_reload: yes
    enabled: yes
