- hosts: home-cluster
  user: root
  roles:
  - { role: common, tags: common }
  - { role: node-exporter, tags: monitoring }
  - { role: node-exporter-thermal-zone, tags: monitoring }
  - { role: docker, tags: docker }

- hosts: odroid1
  roles:
  - { role: syncthing, tags: syncthing }
  - { role: mosquitto, tags: home-automation }
  - { role: home-assistant, tags: [home-assistant, home-automation] }
  - { role: hispanico.nginx-revproxy, tags: [nginx, home-automation] }
  - { role: postgresql, tags: [postgresql] }
  - vault-luksmounter
  tasks:
  - hostname: { name: odroid1 }
  vars:
    nginx_revproxy_sites:
      default:
        ssl: false
        letsencrypt: false
      monitorrent.kaliwe.ru:
        domains:
        - monitorrent.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.20.2, backend_port: 6687 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      torrent.kaliwe.ru:
        domains:
        - torrent.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.20.2, backend_port: 9091 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      hass.kaliwe.ru:
        domains:
        - hass.kaliwe.ru
        upstreams:
        - { backend_address: 127.0.0.1, backend_port: 8123 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      nextcloud.kaliwe.ru:
        domains:
        - nextcloud.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.20.2, backend_port: 8080 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      archive.kaliwe.ru:
        domains:
        - archive.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.20.2, backend_port: 40197 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      home.kaliwe.ru:
        domains:
        - home.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.88.1, backend_port: 88 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      plex.kaliwe.ru:
        domains:
        - plex.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.20.2, backend_port: 32400 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      jellyfin.kaliwe.ru:
        domains:
        - jellyfin.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.20.2, backend_port: 8096 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"

- hosts: odroid2
  tasks:
  - hostname: { name: odroid2 }
  roles:
  - common
  - { role: syncthing, tags: syncthing }
  - { role: nextcloud, tags: [nextcloud-deb, homecloud] }
  - { role: filebrowser, tags: [filebrowser, homecloud] }
  - { role: torrent, tags: [torrent, mediaserver] }
  - { role: jellyfin, tags: [jellyfin, mediaserver] }
  - { role: ftp, tags: [ftp, mediaserver] }
#   - { role: kerberos }

