- hosts: all
  user: root
  roles: 
  - common
  - { role: node-exporter, tags: prometheus }

- hosts: odroid1
  roles:
  - { role: mosquitto, tags: home-automation }
  - { role: home-assistant, tags: home-automation }
  - { role: hispanico.letsencrypt-nginx-revproxy, tags: nginx,home-automation }
  - { role: prometheus, tags: prometheus }
  - { role: grafana, tags: prometheus }
  tasks:
  - hostname: { name: odroid1 }
  vars:
    nginx_revproxy_sites:
      default:
        ssl: false
        letsencrypt: false
      grafana.kaliwe.ru:
        domains:
        - grafana.kaliwe.ru
        upstreams:
        - { backend_address: 127.0.0.1, backend_port: 3000 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      hass.kaliwe.ru:
        domains:
        - hass.kaliwe.ru
        upstreams:
        - { backend_address: 127.0.0.1, backend_port: 8123 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      nextcloud.kaliwe.ru:
        domains:
        - nextcloud.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.20.2, backend_port: 8080 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      archive.kaliwe.ru:
        domains:
        - archive.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.20.2, backend_port: 40197 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      home.kaliwe.ru:
        domains:
        - home.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.88.1, backend_port: 80 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
  
- hosts: odroid2
  tasks:
  - hostname: { name: odroid2 }
  roles:
  - nextcloud
  - filebrowser
  - transmission
  - elboletaire.transmission
  vars:
    transmission_password: "{{ lookup('hashi_vault', 'secret=secrect/home-cloud:torrent url=https://vault.kaliwe.ru:8200') }}"
    transmission_rpc_auth_required: true
    transmission_rpc_whitelist_enabled: false
    transmission_user: transmission
    transmission_download_dir: /media/data/transmsission/downloads
    transmission_watch_dir: /media/data/transmsission/torrents

