- hosts: all
  user: root
  roles: 
  - common
  - { role: node-exporter-thermal-zone, tags: prometheus }

- hosts: [odroid1, odroid2]
  user: root
  roles: 
  - syncthing
  - docker


- hosts: odroid1
  roles:
  - mosquitto
  - home-assistant
  - hispanico.letsencrypt-nginx-revproxy
  tasks:
  - hostname: { name: odroid1 }
  vars:
    nginx_revproxy_sites:
      default:
        ssl: false
        letsencrypt: false
      hass.kaliwe.ru:
        domains:
        - hass.kaliwe.ru
        upstreams:
        - { backend_address: 127.0.0.1, backend_port: 8123 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      nextcloud.kaliwe.ru:
        domains:
        - nextcloud.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.20.2, backend_port: 8080 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      archive.kaliwe.ru:
        domains:
        - archive.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.20.2, backend_port: 40197 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
      home.kaliwe.ru:
        domains:
        - home.kaliwe.ru
        upstreams:
        - { backend_address: 192.168.88.1, backend_port: 80 }
        letsencrypt: true
        ssl: false
        letsencrypt_email: "plotnikovanton@gmail.com"
  
- hosts: odroid2
  tasks:
  - hostname: { name: odroid2 }
  roles:
  - nextcloud
  - rtmp
  - filebrowser
  - transmission
  - elboletaire.transmission
    #- owntracks-recorder
  vars:
    transmission_password: "{{ lookup('hashi_vault', 'home-cloud', 'torrent') }}"
    transmission_rpc_auth_required: true
    transmission_rpc_whitelist_enabled: false
    transmission_user: transmission
    transmission_download_dir: /media/data/transmsission/downloads
    transmission_watch_dir: /media/data/transmsission/torrents

