---

- name: clone config
  git:
    repo: https://github.com/pltanton/home-assistant-config.git
    update: no
    dest: /opt/home-assistant
  tags: 
    - hass

- name: install home asistant in docker
  docker_container:
    name: home-assistant
    image: homeassistant/raspberrypi3-homeassistant:latest
    network_mode: host
    restart: yes
    restart_policy: always
    volumes:
    - "/etc/localtime:/etc/localtime:ro"
    - "/opt/home-assistant:/config"
  tags: 
    - hass
