---

- name: Clone config
  git:
    repo: https://github.com/pltanton/home-assistant-config.git
    update: no
    dest: /opt/home-assistant

- name: Install home asistant in docker
  docker_container:
    name: home-assistant
    image: homeassistant/raspberrypi3-homeassistant:0.69.1
    network_mode: host
    restart: yes
    volumes:
    - "/etc/localtime:/etc/localtime:ro"
    - "/opt/home-assistant:/config"
