port 1883

allow_anonymous false
password_file /root/mosquitto_passwd

listener 1884

cafile /etc/ssl/certs/DST_Root_CA_X3.pem
certfile /etc/letsencrypt/live/mqtt.kaliwe.ru/fullchain.pem
keyfile /etc/letsencrypt/live/mqtt.kaliwe.ru/privkey.pem
