---

- name: install certbot
  get_url:
    url: https://dl.eff.org/certbot-auto
    dest: /usr/bin/certbot-auto
    mode: "a+x"
  tags:
    - mosquitto

- name: create directroy for acme
  file:
    path: "{{ mosquitto_acme_dir }}"
    state: directory
    owner: www-data
    group: www-data
  tags:
    - mosquitto

- name: install nginx site for letsencrypt requests for mosquitto
  template:
    src: templates/mosquitto-acme.j2
    dest: /etc/nginx/sites-enabled/mosquitto-acme
  notify: restart nginx
  tags:
    - mosquitto

- name: create letsencrypt certificate for mosquitto
  shell: "letsencrypt certonly -n --webroot -w {{ mosquitto_acme_dir }} -m plotnikovanton@gmail.com --agree-tos -d mqtt.kaliwe.ru"
  args:
    creates: /etc/letsencrypt/live/mqtt.kaliwe.ru
  tags:
    - mosquitto

- name: add letsencrypt cronjob for cert renewal for mosquitto
  cron:
    name: letsencrypt_renewal
    special_time: weekly
    job: "letsencrypt --renew certonly -n --webroot -w {{ mosquitto_acme_dir }} -m plotnikovanton@gmail.com --agree-tos -d mqtt.kaliwe.ru && systemctl restart mosquitto"
  tags:
    - mosquitto

- name: install mosquitto
  apt: 
    package: mosquitto
    state: latest
    update_cache: yes
  tags:
    - mosquitto

- name: configure mosquitto
  template:
    src: templates/mosquitto.conf.j2
    dest: /etc/mosquitto/mosquitto.conf
  notify: restart mosquitto
  tags:
    - mosquitto

- name: start and enable mosquitto service
  systemd:
    name: mosquitto
    state: started
    daemon_reload: yes
    enabled: yes
  tags:
    - mosquitto
